<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Home page website </title>
    </head>
    <body>
        {{> header}}
        <p>
            Site under maintenance!!
        </p>
        {{> footer}}
    </body>
</html>